<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    by default bean scope is Singletone.
    Scope Prototype чаще всего используется тогда, когда у
    нашего бина есть изменяемые состояния (stateful).
    Beans configurations-->
    <bean id="musicBean"
          class="ru.alexsem.springcourse.ClassicalMusic"
          scope="prototype"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>

    <bean id="musicPlayer7"
          class="ru.alexsem.springcourse.MusicPlayer7"
          init-method="doMyInit"
          scope="prototype">
<!--        This is bean fields initialization-->
        <property name="music" ref="musicBean"/>
        <property name="volume" value="50"/>
        <property name="name" value="Some name"/>
    </bean>
</beans>
