<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--You can also use the constructor parameter name
    for value disambiguation, as the following example shows:
        <bean id="exampleBean" class="examples.ExampleBean">
            <constructor-arg name="years" value="7500000"/>
         <constructor-arg name="ultimateAnswer" value="42"/>
      </bean>-->

    <bean id="testBean"
          class="ru.alexsem.springcourse.TestBean">
        <!--        This is bean fields initialization-->
        <constructor-arg type="java.lang.String" value="Aleksandr"/>
        <constructor-arg type="int" value="35"/>
    </bean>

    <bean id="musicBean"
          class="ru.alexsem.springcourse.RockMusic">
    </bean>

    <bean id="musicBean1"
          class="ru.alexsem.springcourse.ClassicalMusic">
    </bean>

    <bean id="musicBean2"
          class="ru.alexsem.springcourse.RapMusic">
    </bean>

    <bean id="musicPlayer"
          class="ru.alexsem.springcourse.MusicPlayer">
        <!--        This is bean fields initialization-->
        <constructor-arg ref="musicBean"/>
    </bean>


    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <!--    bean == instance of a class (object)-->
    <bean id="musicPlayer6"
          class="ru.alexsem.springcourse.MusicPlayerLesson6">
        <!--        Spring looks for setter setMusic and takes the value.
        In this case there is a no-arg constructor provided by default.
        We don't specify it below-->
        <!--        This is bean fields initialization-->
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer6.name}"/>
        <property name="volume" value="${musicPlayer6.volume}"/>
    </bean>


    <!--    Collections-->
    <bean id="musicPlayerHomework"
          class="ru.alexsem.springcourse.MusicPlayerHomework">
        <!--        This is bean fields initialization-->
        <property name="musicList">
            <list>
                <ref bean="musicBean"/>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer6.name}"/>
        <property name="volume" value="${musicPlayer6.volume}"/>
    </bean>

</beans>